<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container">
 <!-- Brand/logo -->
 <a class="navbar-brand" click="nav()" [routerLink]="'/main'" skipLocationChange><i class="fas fa-home"></i>
     Rav-Kav Service Stations</a>
    </div> 
    <!-- Links -->
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul> -->
  </nav>